################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Firmware/MayorG1_with_SCoop_Universal/.vs
/Firmware/MayorG1_with_SCoop_Universal/Release
/Firmware/MayorG1_with_SCoop_Universal/Debug
/Firmware/MayorG1_with_SCoop_Universal/__vm
*.gcode